cdk-app/*.js
!cdk-app/jest.config.js
cdk-app/*.d.ts
cdk-app/node_modules

# CDK asset staging directory
cdk-app/.cdk.staging
cdk-app/cdk.out

# Parcel build directories
*/.cache
*/.build

#git related files
*/.gitallowed

#hidden files
*/.DS_Store
