*.js
!jest.config.js
*.d.ts
cdk-app/node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

#git related files
.gitallowed

#hidden files
.DS_Store
